body{
    text-align: center;
    font-size: 12px;

}
table.table1{
    border-collapse: collapse;
    margin: auto;

}


table.table1 td{
    border: 2px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
}

td:empty{
    background: black;
}

sup {
        color: black; /* Adjust the color if needed */
        position: absolute; /* Position it absolutely */
        transform: translate(-125%, -35%); /* Adjust position slightly */  
    
}

table.table2{
    margin: auto;
    text-align: left;
    border: 0px;

}